@import '../../postcss/variables.css';


.l-wrap {
	padding-left: toRem(15);
	padding-right: toRem(15);
	max-width: toRem(1158);
	margin: 0 auto;

	@media (min-width: $sm) {
		padding-left: toRem(15);
		padding-right: toRem(15);
	}
    
}
