button.to-top-button.btn-reset
    .toTopButton__inner
        span.sr-only Наверх
        svg(aria-hidden="true")
            use(xlink:href=require('./images/svg/arrow-to-top.svg') + `#arrow-to-top`)
