.sr-only { // screen reader only
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0,0,0,0);
    clip-path: inset(100%);
}

.ul-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    background: transparent;
    border: none;
     padding: 0;
}

.input-reset{
    padding: 0;
}

.clearfix{
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

.no-transition{
    transition: none !important;
}