@import '../../../postcss/variables.css';

@keyframes spin {
	100% {
		transform: rotate(360deg);
  	}
}
.showcase-browser {
	background-color: #f1f1f1;
	width: 100%;
	height: 100%;
	border-radius: toRem(0) toRem(5) 0 0;
	overflow: hidden;
	display: flex;
    flex-direction: column;
	box-shadow: 0 0 15px 10px rgba(1,1,1,0.14);
	position: relative;
	z-index: 2;

	@media (min-width: 568px) {
		border-radius: toRem(5) toRem(5) 0 0;
	}
}

.projects__item:nth-child(even) .showcase-browser {
	border-radius: toRem(5) toRem(0) 0 0;

	@media (min-width: 568px) {
		border-radius: toRem(5) toRem(5) 0 0;
	}
}

.case-amp .showcase-browser,
.case-korovka-adaptive .showcase-browser
 {
	min-width: 155px;
	max-width: 195px;
}

.showcase-browser:hover .showcase-browser__svg-icon {
	opacity: 0;
}

.showcase-browser__status-bar {
	background-color: #ccc;
	width: 100%;
	height: 20px;
	position: relative;
	z-index: 10;
}

.showcase-browser__buttons {
	background-color: #df7065;
	width: 9px;
	height: 9px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	left: 7px;
	border-radius: 50%;
}

.showcase-browser__buttons:before, 
.showcase-browser__buttons:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	border-radius: 50%;
}
.showcase-browser__buttons:before {
	background-color: #e6c646;
	left: 13px;
}
.showcase-browser__buttons:after {
	background-color: #5bcc8b;
	left: 26px;
}

.showcase-browser__tab-bar {
	background-color: #e6e6e6;
	width: 100%;
	height: 18px;
	position: relative;
	z-index: 10;
}

.showcase-browser__tab-bar:before {
	content: '';
	position: absolute;
	width: 42px;
	bottom: 100%;
	left: 55px;
	border-width: 0 5px 14px 5px;
	border-style: solid;
	border-color: transparent;
	border-bottom-color: #e6e6e6;
	
	@media (min-width: $sm) {
		width: 82px;
	}
}
.showcase-browser__window {
	width: 100%;
	cursor: url('./images/grab.png'), auto;
	overflow: hidden;
	position: relative;
	flex-grow: 1;
	background: #fff;
}

@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(8px);
	}
}

.showcase-browser__mouse-icon {
	display: none;
	animation: scroll ease 2s infinite;
}

.showcase-browser_imgsIsLoaded:not(.showcase-browser_imgAnim) .showcase-browser__mouse-icon {
	@media (min-width: $sm) {
		display: block;
	}
}

.showcase-browser__svg-icon {
	width: 30px;
	height: 30px;
	/* background: color($accent tint(30%)); */
	position: absolute;
	right: 10px;
	bottom: 30px;
	z-index: 1;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 0.25s ease-in-out;
}

.showcase-browser__mouse-icon {
	width: 15px;
	height: 15px;
	background: url('./images/grabbed.png') no-repeat;
	background-position: center;
	background-size: contain;
}

.showcase-browser__loader {
	background-color: #f1f1f1;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 1;
	transition: 0.25s ease-in-out opacity;
}

.showcase-browser_imgsIsLoaded .showcase-browser__loader {
	opacity: 0;
	pointer-events: none;
	/* z-index: -1; */
}

.showcase-browser__loader:before {
	content: '';
	width: 20px;
	height: 20px;
	margin: auto;
	border: 5px dashed #2c3e50;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 50%;			  
	animation: spin 1s linear infinite;
}

.showcase-browser__window .showcase-browser__img {
	position: absolute;
	top: 0;
	left: 0;
}

.showcase-browser__window.grabbed {
	cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/216995/grabbed.png), auto;
}

.showcase-browser_loading .showcase-browser__loader {
	display: block;
}